<form class="flex w-full flex-column gap-2 w-50" id="signup">
    <div class="craete fs-3 text-center fw-bold text-white">Create Account</div>
    <input type="text" name="username" class="input-field" id="username" placeholder="Username">
    <input type="email" name="email" class="input-field" id="email" placeholder="Email">
    <input type="password" name="password" class="input-field" id="password" placeholder="Password">
    <input type="password" name="con_password" class="input-field" id="password" placeholder="Confirm Password">
    <button class="button" type="submit">Register</button>
    <div class="text-col text-center">Don't have an Account? <a class="text-col-green" (click)="gotToSigInPage()">SignUp</a></div>
</form>