<div class="stickynote-wrapper">
    <div class="stickynote-header">
        <div class="text-content">
            <div class="greetings">Welcome, Mofiro</div>
            <div class="date">Tuesday, 18 November 2023</div>
        </div>
    </div>
    <div class="header">Sticky Notes</div>
    <div class="stickynote-content">
        <!-- sticky note goes here -->
        <div class="stickynotes">
            <!-- manually load the sticky notes -->
            <app-stick-note *ngFor="let stickynote of stickNotes" [stickynote]="stickynote"
                (editClick)="onEditStikyNote(stickynote)" (likeClick)="onLikedStikyNote(stickynote)">
            </app-stick-note>
        </div>

        <!-- sticky notes end here -->
        <div class="add-form-section">
            <div class="create-stickynote">Add StickyNote</div>
            <hr style="padding: 0; margin: 0;">
            <form class="sticky-form" [formGroup]="stickNoteForm">
                <div class="textarea">
                    <label for="text-area">Note Content</label>
                    <textarea rows="5" cols="30" class="content" pInputTextarea placeholder="Write your thought.."
                        formControlName="content"></textarea>

                    <div class="input_text mt-2">
                        <p-dropdown formControlName="color" placeholder="select color" [options]="colors"
                            optionLabel="name"></p-dropdown>
                    </div>
                    <div class="input_text mt-2">
                        <p-dropdown formControlName="label" placeholder="select label" [options]="labels"
                            optionLabel="name"></p-dropdown>
                    </div>
                    <div class="input_text mt-2">
                        <p-checkbox formControlName="favorite" [binary]="true" inputId="favorite"></p-checkbox>
                        <label for="favorite">Favorite</label>
                    </div>
                    <div class="buttons mt-3">
                        <div class="btn btn-primary w-full bg-green" (click)="onCreateStickyNote()">Create Note</div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<p-dialog header="Create Note" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <form class="sticky-form" [formGroup]="updateStckyNoteForm">
        <div class="textarea">
            <div class="flex flex-column">
                <label for="text-area fw-bold">Note Content</label>
                <textarea rows="5" cols="30" class="content" (resize)="false" [autoResize]="false" pInputTextarea placeholder="Write your thought.."
                formControlName="content"></textarea>
            </div>
            <div class="input_text mt-2">
                <p-dropdown formControlName="color" placeholder="select color" [options]="colors"
                    optionLabel="name"></p-dropdown>
            </div>
            <div class="input_text mt-2">
                <p-dropdown formControlName="label" placeholder="select label" [options]="labels"
                    optionLabel="name"></p-dropdown>
            </div>
            <div class="input_text mt-2">
                <p-checkbox formControlName="favorite" [binary]="true" inputId="favorite"></p-checkbox>
                <label for="favorite">Favorite</label>
            </div>
            <div class="buttons mt-3">
                <div class="btn btn-primary w-75 bg-green" (click)="onUpdateSickyNote()">Update Note</div>
                <div class="btn btn-danger w-25" (click)="onDeleteNote()">Delete</div>
            </div>
        </div>
    </form>
</p-dialog>