<div class="stickynote-wrapper">
    <div class="stickynote-header">
        <div class="text-content">
            <div class="greetings">Welcome, Mofiro</div>
            <div class="date">Tuesday, 18 November 2023</div>
        </div>
    </div>
    <div class="header">Sticky Notes</div>
    <div class="stickynote-content">
        <!-- sticky note goes here -->
        <div class="stickynotes">
            <div class="stickynote">
                <div class="sticky-top">
                    <!-- heart button -->
                    <i class="pi pi-heart"></i>
                </div>
                <div class="sticky-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aspernatur
                    magnam non, repudiandae nulla excepturi quasi dolore cupiditate et minus iure?</div>
                <div class="sticky-footer">
                    <div class="date">Tue 19</div>
                    <div class="edit"><i class="pi pi-file-edit"></i></div>
                </div>
            </div>
            <div class="stickynote" style="background-color: green;">
                <div class="sticky-top">
                    <i class="pi pi-heart"></i>
                </div>
                <div class="sticky-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aspernatur
                    magnam non, repudiandae nulla excepturi quasi dolore cupiditate et minus iure?</div>
                <div class="sticky-footer">
                    <div class="date">Tue 19</div>
                    <div class="edit"><i class="pi pi-file-edit"></i></div>
                </div>
            </div>
            <div class="stickynote" style="background-color: red;">
                <div class="sticky-top">
                    <i class="pi pi-heart"></i>
                </div>
                <div class="sticky-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aspernatur
                    magnam non, repudiandae nulla excepturi quasi dolore cupiditate et minus iure?</div>
                <div class="sticky-footer">
                    <div class="date">Tue 19</div>
                    <div class="edit"><i class="pi pi-file-edit"></i></div>
                </div>
            </div>

            <!-- manually load the sticky notes -->
            <app-stick-note *ngFor="let stickynote of stickNotes" [stickynote]="stickynote"
                (editClick)="onEditStikyNote(stickynote)" (likeClick)="onLikedStikyNote(stickynote)">
            </app-stick-note>
        </div>

        <!-- sticky notes end here -->
        <div class="add-form-section">
            <div class="create-stickynote">Add StickyNote</div>
            <hr style="padding: 0; margin: 0;">
            <form class="sticky-form" [formGroup]="stickNoteForm">
                <div class="textarea">
                    <label for="text-area">Note Content</label>
                    <textarea rows="5" cols="30" class="content" pInputTextarea placeholder="Write your thought.."
                        formControlName="content"></textarea>

                    <div class="input_text mt-2">
                        <p-dropdown formControlName="color" placeholder="select color" [options]="colors"
                            optionLabel="name"></p-dropdown>
                    </div>
                    <div class="input_text mt-2">
                        <p-dropdown formControlName="label" placeholder="select label" [options]="labels"
                            optionLabel="name"></p-dropdown>
                    </div>
                    <div class="input_text mt-2">
                        <p-checkbox formControlName="favorite" [binary]="true" inputId="favorite"></p-checkbox>
                        <label for="favorite">Favorite</label>
                    </div>
                    <div class="buttons mt-3">
                        <div class="btn btn-primary w-full" (click)="onCreateStickyNote()">Create Note</div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>