<div class="stickynote-wrapper">
    <div class="stickynote-header">
        <div class="text-content">
            <div class="greetings">Welcome, Mofiro</div>
            <div class="date">Tuesday, 18 November 2023</div>
        </div>
    </div>
    <div class="header">Sticky Notes</div>
    <div class="stickynote-content">
        <div class="stickynotes">
            <div class="stickynote">
                <div class="sticky-top"></div>
                <div class="sticky-content"></div>
                <div class="sticky-footer"></div>
            </div>
        </div>
        <div class="add-form-section">

        </div>
    </div>
</div>