<div class="landing-page ">
    <div class="blur"></div>
    <div class="flex justify-content-center align-items-center flex-column page gap-3">
        <a class="navbar-brand" id="nav" ><img  src="../../../assets/image/logo-white.png" height="150" alt=""></a>
        <div class="herro-text text-center flex flex-column gap-2">
            <div class="header"><span>Streamline Your Notes</span> <br>Boost Your Productivity</div>
            <div class="body">Revolutionize your note-taking with our streamlined app</div>
            <div class="buttons">
                <button class="button" (click)="register()">Get Started</button>
            </div>
        </div>
    </div>
</div>