<form class="flex w-full flex-column gap-2 w-50" id="signin" [formGroup]="loginFormData" (ngSubmit)="login()">
    <div class="craete fs-3 text-center fw-bold text-white">Welcome  Back</div>
    <input type="text" name="username" class="input-field" id="username" placeholder="Username" formControlName="username">
    <input type="password" name="password" class="input-field" id="password" placeholder="Password" formControlName="password">
    <button class="button" type="submit">Login</button>
    <div class="text-col text-center">Don't have an Account? <a class="text-col-green" (click)="gotToSignUpPage()">SignUp</a></div>
</form>